@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: ;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: larger;
  font-weight: bolder;
}
button{
  border: black 1px,solid;
  color:dimgray
  
}
